*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #db2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;

  --color-text: #000000;
  --color-highlights: #000000;
  --color-background: #fafafa;
}

html, button{
    font: 500 1rem/1.5 "Montserrat", sans-serif;
}

h1,h2{
    font-family: "Syne", sans-serif; 
}
h1{
    font-size: 4rem;
    line-height: 1.25;
}
h2{
    font-size: 2.5rem;
    line-height: 1.2;
}